@use "scss-reset/reset";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --swiper-theme-color: #666666;
    --swiper-navigation-size: 14px;
    --swiper-navigation-sides-offset: -22px;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --header-height: 150px;

    @media screen and (max-width: 1024px) {
      --header-height: 52px;
    }
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --header-height: 150px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  all: unset;
}

body {
  background-color: #f4f4f4;
  position: relative;
}

.nav-is-open {
  @apply h-dvh px-[16px] pt-[27px];
}

.active-nav-link {
  &:after {
    position: absolute;
    top: 26px;
    left: 1px;
    display: block;
    width: 22px;
    height: 3px;
    content: "";
    background-color: #f50;
  }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

//* {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//}

//input {
//  background-color: transparent;
//  border: none;
//  outline: none;
//  appearance: none;
//}

.border-red {
  border: 1px dotted red;
}

.border-green {
  border: 1px dotted green;
}

.border-blue {
  border: 1px dotted blue;
}

.border-white {
  border: 1px dotted white;
}

.border-y {
  border: 1px dotted yellow;
}

.no-scroll {
  overflow: hidden;
}

.suggest-wrapper {
  flex: 1;
  overflow-y: auto;
}

header {
  top: var(--header-height); /* initial position */
}

header.scrolled {
  top: calc(72px - var(--header-height));
}

.transition-top {
  transition: top 0.3s ease-in-out;
}

aside {
  top: var(--header-height); /* initial position */
}

.sidebar-border {
  border-right: 1px solid #e8e8e8;
}

.promo-wrapper {
  background-image: url(//avatars.mds.yandex.net/get-bunker/56833/43c1fcf1b77eef0d42cbf419e346bc92af930c46/940x400);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: -1000%;
  background-size: cover;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
.tickets-wrapper {
  background-image: url(//avatars.mds.yandex.net/get-bunker/56833/43c1fcf1b77eef0d42cbf419e346bc92af930c46/940x400);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: -1000%;
  background-size: cover;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.ticket-poster-wrapper::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,#000 6.25%,#000 6.26%,rgba(0,0,0,.99) 14.15%,rgba(0,0,0,.961) 20.77%,rgba(0,0,0,.915) 26.27%,rgba(0,0,0,.856) 30.8%,rgba(0,0,0,.785) 34.5%,rgba(0,0,0,.705) 37.54%,rgba(0,0,0,.619) 40.06%,rgba(0,0,0,.529) 42.21%,rgba(0,0,0,.437) 44.15%,rgba(0,0,0,.347) 46.03%,rgba(0,0,0,.261) 47.99%,rgba(0,0,0,.18) 50.2%,rgba(0,0,0,.108) 52.79%,rgba(0,0,0,.047) 55.94%,transparent 59.77%);
}
.promo-wrapper::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,#000 6.25%,#000 6.26%,rgba(0,0,0,.99) 14.15%,rgba(0,0,0,.961) 20.77%,rgba(0,0,0,.915) 26.27%,rgba(0,0,0,.856) 30.8%,rgba(0,0,0,.785) 34.5%,rgba(0,0,0,.705) 37.54%,rgba(0,0,0,.619) 40.06%,rgba(0,0,0,.529) 42.21%,rgba(0,0,0,.437) 44.15%,rgba(0,0,0,.347) 46.03%,rgba(0,0,0,.261) 47.99%,rgba(0,0,0,.18) 50.2%,rgba(0,0,0,.108) 52.79%,rgba(0,0,0,.047) 55.94%,transparent 59.77%);
}

.promo-content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  padding: 20px 40px;
}

.button-gradient {
  background: linear-gradient(135deg,#f50 69.93%,#d6bb00);
  transition: background .2s ease,transform .2s ease;
}

.swiper-button-prev-festival, .swiper-button-prev-tickets {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;

  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  cursor: pointer;
}

.swiper-button-next-festival, .swiper-button-next-tickets {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;

  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  cursor: pointer;
}

.swiper-button-prev-festival, .swiper-button-next-festival, .swiper-button-prev-tickets, .swiper-button-next-tickets {
  position: absolute;
  border: 1px solid #e8e8e8;
  border-radius: 9999px;
  width: 44px;
  height: 44px;
  z-index: 2;
  background-color: #fff;

  &:after {
    display: none;
  }
}

.swiper-button-prev-festival.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-next-festival.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-prev-tickets.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-next-tickets.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-prev-yandex {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;

  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  cursor: pointer;
}

.swiper-button-next-yandex {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;

  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  cursor: pointer;
}

.swiper-button-prev-yandex, .swiper-button-next-yandex {
  position: absolute;
  border: 1px solid #e8e8e8;
  border-radius: 9999px;
  width: 44px;
  height: 44px;
  z-index: 2;
  background-color: #fff;

  &:after {
    display: none;
  }
}

.swiper-button-prev-yandex.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-next-yandex.swiper-button-disabled {
  opacity: 0;
}


.swiper-button-prev-rec {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;

  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  cursor: pointer;
}

.swiper-button-next-rec {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;

  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  cursor: pointer;
}

.swiper-button-prev-rec, .swiper-button-next-rec {
  position: absolute;
  border: 1px solid #e8e8e8;
  border-radius: 9999px;
  width: 44px;
  height: 44px;
  z-index: 2;
  background-color: #fff;

  &:after {
    display: none;
  }
}

.swiper-button-prev-rec.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-next-rec.swiper-button-disabled {
  opacity: 0;
}



.movie-wrapper {
  transition: all 0.2s ease;
  &:hover {
    transition: all 0.2s ease;
    .movie-title {
      color: #f50;
    }

    .poster-image {
      filter: brightness(90%);
    }

    .action-icons {
      opacity: 1;
    }
  }
}

.action-icons {
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.2s ease;
}

.action-icon {
  transition: opacity 0.2s ease;
}

.action-icon:hover {
  opacity: 1;
}

.clip-text {
  background: linear-gradient(165deg,#ffd25e 16.44%,#b59646 63.42%);
  //background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold-badge {
  display: inline-flex;
  color: #000;
  background-image: linear-gradient(160deg,#eacc7f 16%,#ad9c72 64%);
}

.icon-left-black {
  background-image: url("data:image/svg+xml,%3csvg width='8' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.665 15.506s1.079-.465 1.39-1.392c.311-.926-.263-1.964-.263-1.964s-1.079.465-1.39 1.392c-.311.927.263 1.964.263 1.964ZM5.138 15.72s-1.131.31-1.94-.223c-.809-.534-.989-1.71-.989-1.71s1.132-.31 1.94.223c.81.534.99 1.71.99 1.71ZM4.588 12.21s-.09-1.187.578-1.894c.667-.707 1.839-.667 1.839-.667s.09 1.187-.578 1.894c-.667.707-1.839.667-1.839.667ZM4.51 5.726s1.438-.62 1.853-1.856C6.96 2.095 6.201.692 6.201.692s-1.82.486-2.423 2.283c-.604 1.798.732 2.751.732 2.751ZM3.885 8.783s-1.818-.055-2.782-1.216-.71-2.989-.71-2.989 1.817.055 2.781 1.216c.964 1.161.71 2.989.71 2.989ZM4.409 8.76s-.119-1.583.771-2.525 2.452-.888 2.452-.888.119 1.582-.771 2.524-2.452.888-2.452.888ZM4.222 12.297s-1.542.26-2.545-.557C.674 10.923.589 9.34.589 9.34s1.542-.26 2.545.556c1.003.817 1.088 2.401 1.088 2.401Z' fill='%23000'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.152 2.767c.159.03-.449 3.177-.478 3.337-.454 2.509-.443 6.758 1.637 10.77a.298.298 0 0 1-.08.373.289.289 0 0 1-.434-.094c-2.159-4.16-2.165-8.562-1.695-11.156.029-.16.892-3.26 1.05-3.23Z' fill='%23000'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  width: 8px;
  height: 18px;
  display: inline-block;
}

.icon-right-black {
  background-image: url("data:image/svg+xml,%3csvg width='8' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.335 15.506s-1.079-.465-1.39-1.392c-.311-.926.263-1.964.263-1.964s1.079.465 1.39 1.392c.311.927-.263 1.964-.263 1.964ZM2.862 15.72s1.131.31 1.94-.223c.809-.534.989-1.71.989-1.71s-1.132-.31-1.94.223c-.81.534-.99 1.71-.99 1.71ZM3.412 12.21s.09-1.187-.578-1.894C2.167 9.61.995 9.65.995 9.65s-.09 1.187.578 1.894c.667.707 1.839.667 1.839.667ZM3.49 5.726s-1.438-.62-1.853-1.856C1.04 2.095 1.799.692 1.799.692s1.82.486 2.423 2.283c.604 1.798-.732 2.751-.732 2.751ZM4.115 8.783s1.818-.055 2.782-1.216.71-2.989.71-2.989-1.817.055-2.781 1.216c-.964 1.161-.71 2.989-.71 2.989ZM3.591 8.76s.119-1.583-.771-2.525S.368 5.347.368 5.347s-.119 1.582.771 2.524 2.452.888 2.452.888ZM3.778 12.297s1.542.26 2.545-.557c1.003-.817 1.088-2.4 1.088-2.4s-1.542-.26-2.545.556c-1.003.817-1.088 2.401-1.088 2.401Z' fill='%23000'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.848 2.767c-.159.03.449 3.177.478 3.337.454 2.509.443 6.758-1.637 10.77a.298.298 0 0 0 .08.373c.143.11.351.066.434-.094 2.159-4.16 2.165-8.562 1.695-11.156-.029-.16-.892-3.26-1.05-3.23Z' fill='%23000'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  width: 8px;
  height: 18px;
  display: inline-block;
}


.icon-left {
  width: 18px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='24' fill='none'%3e%3cpath fill='url(%23a)' d='M7.26 19.395s1.385-.617 1.768-1.806c.382-1.188-.384-2.498-.384-2.498s-1.386.618-1.768 1.806c-.382 1.189.384 2.498.384 2.498Z'/%3e%3cpath fill='url(%23b)' d='M6.583 19.679s-1.457.422-2.516-.24c-1.058-.662-1.317-2.157-1.317-2.157s1.457-.422 2.515.24c1.059.662 1.318 2.157 1.318 2.157Z'/%3e%3cpath fill='url(%23c)' d='M5.793 15.217s-.142-1.51.706-2.427c.847-.916 2.364-.892 2.364-.892s.143 1.51-.705 2.427-2.365.892-2.365.892Z'/%3e%3cpath fill='url(%23d)' d='M5.547 6.953s1.848-.823 2.357-2.407c.733-2.278-.28-4.048-.28-4.048s-2.344.66-3.085 2.965c-.742 2.305 1.008 3.49 1.008 3.49Z'/%3e%3cpath fill='url(%23e)' d='M4.806 10.864s-2.353-.03-3.626-1.488C-.094 7.918.194 5.583.194 5.583s2.353.029 3.626 1.487c1.274 1.459.986 3.794.986 3.794Z'/%3e%3cpath fill='url(%23f)' d='M5.484 10.822s-.189-2.014.942-3.235c1.13-1.221 3.153-1.188 3.153-1.188s.19 2.014-.942 3.236c-1.13 1.221-3.153 1.187-3.153 1.187Z'/%3e%3cpath fill='url(%23g)' d='M5.32 15.337s-1.989.366-3.305-.653C.698 13.665.554 11.648.554 11.648s1.99-.366 3.305.653c1.317 1.018 1.462 3.036 1.462 3.036Z'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='url(%23h)' d='M6.313 3.167c.205.034-.51 4.06-.544 4.264-.59 3.547-.394 9.795 3.33 15.285a.384.384 0 0 1-.08.518.373.373 0 0 1-.536-.083C4.61 17.453 4.416 10.978 5.025 7.308c.034-.205 1.083-4.175 1.288-4.141Z'/%3e%3cdefs%3e%3clinearGradient id='a' x1='3.7' y1='3.033' x2='9.68' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='b' x1='3.7' y1='3.033' x2='9.68' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='c' x1='3.7' y1='3.033' x2='9.68' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='d' x1='3.7' y1='3.033' x2='9.68' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='e' x1='3.7' y1='3.033' x2='9.68' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='f' x1='3.7' y1='3.033' x2='9.68' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='g' x1='3.7' y1='3.033' x2='9.68' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='h' x1='3.7' y1='3.033' x2='9.68' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.icon-right {
  width: 18px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='24' fill='none'%3e%3cpath fill='url(%23a)' d='M2.74 19.395s-1.385-.617-1.768-1.806c-.382-1.188.384-2.498.384-2.498s1.386.618 1.768 1.806c.382 1.189-.384 2.498-.384 2.498Z'/%3e%3cpath fill='url(%23b)' d='M3.417 19.679s1.457.422 2.516-.24c1.058-.662 1.317-2.157 1.317-2.157s-1.457-.422-2.515.24c-1.059.662-1.318 2.157-1.318 2.157Z'/%3e%3cpath fill='url(%23c)' d='M4.207 15.217s.142-1.51-.706-2.427c-.847-.916-2.364-.892-2.364-.892s-.143 1.51.705 2.427 2.365.892 2.365.892Z'/%3e%3cpath fill='url(%23d)' d='M4.453 6.953S2.605 6.13 2.096 4.546c-.733-2.278.28-4.048.28-4.048s2.344.66 3.085 2.965c.742 2.305-1.008 3.49-1.008 3.49Z'/%3e%3cpath fill='url(%23e)' d='M5.194 10.864s2.353-.03 3.626-1.488c1.274-1.458.986-3.793.986-3.793S7.453 5.612 6.18 7.07c-1.274 1.459-.986 3.794-.986 3.794Z'/%3e%3cpath fill='url(%23f)' d='M4.516 10.822s.189-2.014-.942-3.235C2.444 6.366.421 6.399.421 6.399s-.19 2.014.942 3.236c1.13 1.221 3.153 1.187 3.153 1.187Z'/%3e%3cpath fill='url(%23g)' d='M4.68 15.337s1.989.366 3.305-.653c1.317-1.019 1.461-3.036 1.461-3.036s-1.99-.366-3.305.653c-1.317 1.018-1.462 3.036-1.462 3.036Z'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='url(%23h)' d='M3.687 3.167c-.205.034.51 4.06.544 4.264.59 3.547.394 9.795-3.33 15.285a.384.384 0 0 0 .08.518c.17.132.415.095.536-.083C5.39 17.453 5.584 10.978 4.975 7.308c-.034-.205-1.083-4.175-1.288-4.141Z'/%3e%3cdefs%3e%3clinearGradient id='a' x1='6.3' y1='3.033' x2='.32' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='b' x1='6.3' y1='3.033' x2='.32' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='c' x1='6.3' y1='3.033' x2='.32' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='d' x1='6.3' y1='3.033' x2='.32' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='e' x1='6.3' y1='3.033' x2='.32' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='f' x1='6.3' y1='3.033' x2='.32' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='g' x1='6.3' y1='3.033' x2='.32' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3clinearGradient id='h' x1='6.3' y1='3.033' x2='.32' y2='12.801' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFD25E'/%3e%3cstop offset='1' stop-color='%23B59646'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.border-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.border-left {
  border-left: 1px solid #e8e8e8;
}

.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.box-shadow {
  box-shadow: 0 10px 20px -2px rgba(0,0,0,.4);
}

.yandex-wrapper {
  position: relative;
  box-sizing: border-box;

  min-height: unset;
  padding: 120px 16px;
  text-align: center;
  background-color: #000;

  @media screen and (min-width: 728px) {
    width: 100%;
    padding: 60px 86px 50px;
    min-height: 614px;
  }
}

.yandex-cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.yandex-content-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yandex-range {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
  text-align: left;
}

.yandex-offerText {
  width: 100%;
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
}

.yandex-rangeLine.payment {
  margin-left: 2px;
  background-image: linear-gradient(270deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.2) 16.62%);
}

.mailText {
  position: absolute;
  bottom: -48px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: hsla(0,0%,100%,.7);

  &:after {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 2px;
    height: 40px;
    content: "";
    background-color: #868eff;
  }
}

.subscribe {

  @media screen and (min-width: 728px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    transition: opacity .1s ease-out;

    img {
        inset-inline-end: 0;
        position: absolute;
      }
  }
}


.subscribe-info {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  width: 100%;
  text-align: center;

  @media screen and (min-width: 728px) {
    z-index: 1;
    width: 667px;
    -webkit-padding-start: 100px;
    padding-inline-start: 100px;
  }
}

.subscribe-btn {
  width: 273px;
  -webkit-margin-before: 24px;
  margin-block-start: 24px;
  white-space: nowrap;
  color: #fff;
}

.footer-links {

  li {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 15px;
    line-height: 18px;
    white-space: nowrap;
    color: #666666;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}

.footer-bottom {
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  opacity: .5;
  color: #fff;
}

.filmRatingBar {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 13px;

  &:after {
    display: block;
    order: 2;
    width: 2px;
    height: 22px;
    content: "";
    background: #093;

  }
}


.greenBar {
  position: relative;
  order: 1;
  color: #093;
  border-radius: 2px 0 0 2px;
  background-color: rgba(0,153,51,.4);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  font-size: 13px;
  font-weight: 500;

  flex: 69 1 0;
  min-width: 30px;
}

.redBar {
  order: 3;
  color: #fe000b;
  border-radius: 0 2px 2px 0;
  background-color: rgba(255,102,0,.3);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  font-size: 13px;
  font-weight: 500;

  flex: 31 1 0;
  min-width: 30px;
}

.positiveBar {
  position: absolute;
  top: 0;
  left: -32767px;
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 13px;

  &:after {
    display: block;
    order: 2;
    width: 2px;
    height: 22px;
    content: "";
    background: #093;

  }
}

.actionBar {
  display: flex;
  justify-content: space-between;
}

.actionBarLeft {
  display: flex;
  margin-right: 16px;
}

.film-rating {
  display: inline-block;
}


.reviews-stat {
  display: block;
  padding-inline-start: 9px;
  padding-inline-end: 9px;
  flex: 0 0 200px;

  position: sticky;
  top: 60px;
  padding-top: 17px;
}

.reviews-total {
  border-left: 2px solid #f50;
  display: flex;
  flex-flow: column;
  padding-left: 9px;
  text-decoration: none;
  margin-bottom: 12px;

}

.total12 {
  margin-bottom: 2px;
  font-size: 28px;
  line-height: 28px;
}

.positive-reviews {
  display: flex;
  flex-flow: column;
  padding-left: 9px;
  text-decoration: none;
  margin-bottom: 12px;
}

.border-top-bottom {
  border-top: 1px solid rgba(55,50,145,.1);
  border-bottom: 1px solid rgba(55,50,145,.1);
}

.border-top {
  border-top: 1px solid rgba(55,50,145,.1);
}

.dot-red {
  path {
    fill: red;
  }
}
.dot-green {
  path {
    fill: green;
  }
}