@use "scss-reset/reset";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --swiper-theme-color: #666666;
    --swiper-navigation-size: 14px;
    --swiper-navigation-sides-offset: -22px;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --header-height: 150px;

    @media screen and (max-width: 1024px) {
      --header-height: 52px;
    }
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --header-height: 150px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  all: unset;
}

body {
  background-color: #f4f4f4;
  position: relative;
}

.nav-is-open {
  @apply h-dvh px-[16px] pt-[27px];
}

.active-nav-link {
  &:after {
    position: absolute;
    top: 26px;
    left: 1px;
    display: block;
    width: 22px;
    height: 3px;
    content: "";
    background-color: #f50;
  }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

//* {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//}

//input {
//  background-color: transparent;
//  border: none;
//  outline: none;
//  appearance: none;
//}

.border-red {
  border: 1px dotted red;
}

.border-green {
  border: 1px dotted green;
}

.border-blue {
  border: 1px dotted blue;
}

.border-white {
  border: 1px dotted white;
}

.sidebar-border {
  border-right: 1px solid #e8e8e8;
}

.promo-wrapper {
  background-image: url(//avatars.mds.yandex.net/get-bunker/56833/43c1fcf1b77eef0d42cbf419e346bc92af930c46/940x400);
}

.promo-wrapper::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,#000 6.25%,#000 6.26%,rgba(0,0,0,.99) 14.15%,rgba(0,0,0,.961) 20.77%,rgba(0,0,0,.915) 26.27%,rgba(0,0,0,.856) 30.8%,rgba(0,0,0,.785) 34.5%,rgba(0,0,0,.705) 37.54%,rgba(0,0,0,.619) 40.06%,rgba(0,0,0,.529) 42.21%,rgba(0,0,0,.437) 44.15%,rgba(0,0,0,.347) 46.03%,rgba(0,0,0,.261) 47.99%,rgba(0,0,0,.18) 50.2%,rgba(0,0,0,.108) 52.79%,rgba(0,0,0,.047) 55.94%,transparent 59.77%);
}

.promo-content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  padding: 20px 40px;
}

.button-gradient {
  background: linear-gradient(135deg,#f50 69.93%,#d6bb00);
  transition: background .2s ease,transform .2s ease;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  border: 1px solid #e8e8e8;
  border-radius: 9999px;
  width: 44px;
  height: 44px;
  z-index: 10;
  background-color: #fff;

  &:after {
    display: none;
  }
}

.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
}